@font-face {
  font-family: RedHatDisplayLightItalic;
  src: url('Fontes/red-hat-display-2/RedHatDisplayLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: RedhatDisplayMediumItalic;
  src: url('Fontes/red-hat-display-2/RedHatDisplayMediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: RedhatDisplayBoldItalic;
  src: url('Fontes/red-hat-display-2/RedHatDisplayBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Ananda;
  src: url('Fontes/red-hat-display-2/Ananda Personal Use.ttf') format('truetype');
}

@font-face {
  font-family: Dancing;
  src: url('Fontes/red-hat-display-2/DancingScript-VariableFont_wght.ttf') format('truetype');
}



body{
  width: 100vw;
  overflow-x: hidden; 
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=- MENU SUPERIOR -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

header {
  z-index: 99999;
  background-color:  white;
  width: 480px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0px;
  top: 0px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.39); /* Adicionando sombra */
  transition: 0.8s ease-in-out;
}

#contatos {
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.contatos_cabecalho {
  display: flex;
  align-items: center;
  margin-left: 40px;
  justify-content: center;
}

.icone_cabecalho{
  width: 30px;
}

.info_telefone_cabecalho{
  margin-left: 10px;
}


#icone_whatsapp_cabecalho {
  width: 20px;
}

.telefones_cabecalho {
  font-family: RedHatDisplayLightItalic, sans-serif;
  margin-bottom: 4px;
  text-align: center;
}

.info_telefones_cabecalho{
  font-size: 12px;
  align-items: center;
  text-align: center;
}

#icone_login {
  width: 40px;
  margin: 10px;
  cursor: pointer;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=- BLOCO LOGIN -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

#section_login {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  z-index: 1;
  justify-content: center;
  align-items: center;
  opacity: 0.97;
  background: linear-gradient(270deg, #001c34, #005dac, #006269, #0d0074);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 20s ease-in-out infinite;
  -moz-animation: AnimationName 20s ease-in-out infinite;
  animation: AnimationName 20s ease-in-out infinite;
}


@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#subbloco_section_login{
  display: flex;
  box-shadow: 0px 0px 10px 5px rgb(0, 13, 71);
  border-radius: 30px;
}

#subbloco_section_login img{
  display: flex;
  width: 400px;
  height: 400px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#bloco_login_senha{
  align-items: center;
  justify-content: center;
  background-color: #006ce0;
  display: flex;
  width: 400px;
  flex-direction: column;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#bloco_login_senha input[type="text"]{
  margin-top: 100px;
}

#bloco_login_senha input[type="text"],
#bloco_login_senha input[type="password"] {
    background-repeat: no-repeat;
    background-position: 240px center;
    background-size: 20px;
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btn_login {
  font-family: RedhatDisplayMediumItalic, sans-serif;
  transition: all 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #003670;
  color: #fff;
  cursor: pointer;
}

#btn_login:hover {
    background-color: #006ea1;
    scale: 1.1;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}

#btn_fechar{
  font-family: RedhatDisplayMediumItalic, sans-serif;
  transition: all 0.2s ease-in-out;
  margin-top: 70px;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #09005e;
  color: #fff;
  cursor: pointer;
}

#btn_fechar:hover {
  scale: 1.1;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
  background-color: #ff0000;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-= BANNER PRINCIPAL -=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

#section_banner_principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 15px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39);
}

#titulo_banner{
  color: rgb(73, 73, 73);
  font-family: Ananda, sans-serif;
  font-size: 5vw;
  font-weight: 800;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

#sub_banner{
  color: rgb(73, 73, 73);
  font-family: RedhatDisplayMediumItalic, sans-serif;
  font-size: 1.5vw;
  margin-bottom: 70px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#bloco_pesquisa{
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: rgb(241,241,241);
  width: 70vw;
  height: 100px;
  border-radius: 20px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.39); 
}

.combobox_banner {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  width: 15vw; 
}

#campo_pesquisa {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  width: 20vw; 
}

#bloco_botoes_pesquisar{
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#botao_pesquisar {
  font-family: RedhatDisplayMediumItalic, sans-serif;
  padding: 10px 20px; 
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff; 
  color: #fff; 
  cursor: pointer; 
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out,
              box-shadow 0.3s ease-in-out;
}

#botao_pesquisar:hover{
  background-color: burlywood;
  color: #333;
  box-shadow: 0px 5px 5px rgb(0,123,255); 
}

#section_destaques{
  height: 100vh;
  background: linear-gradient(to top, #aaaaaa, #ffffff); /* Define o degradê vertical */
}

#slider li{
  transition: opacity 0.5s ease-in-out;
}

.bloco_cabecalho_destaque{
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.bloco_endereco_destaque{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.endereco_destaque{
  font-family: RedhatDisplayMediumItalic, sans-serif;
  color: #333;
  font-size: 16px;
}

.cidade_destaque{
  font-family: RedhatDisplayMediumItalic, sans-serif;
  color: #333;
  font-size: 14px;
}

.bloco_info_cabecalho{
  display: flex;
}

.bloco_info{
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.descricao_info_destaque{
  font-family: RedhatDisplayMediumItalic, sans-serif;
  color: #333;
  margin-left: 10px;
}

.icone_destaques{
  width: 40px;
  height: 40px;
}

.bloco_principal_destaque{
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
}

.bloco_esquerdo_principal_destaque{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.titulo_empreendimento_destaque{
  font-size: 50px;
  color: #333;
  font-family: Ananda, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulo_esquerdo_principal_destaque{
  color: #333333;
  margin-left: 200px;
  font-family: RedhatDisplayBoldItalic, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  width: 250px;
  text-align: end;
}

.desc_esquerdo_principal_destaque{
  margin-bottom: 50px;
  color: #333;
  font-family: RedhatDisplayLightItalic, sans-serif;
  font-size: 20px;
  width: 400px;
  text-align: start;
}

.bloco_direito_principal_destaque{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bloco_direito_principal_destaque img{
  width: 612px;
  height: 408px;
  margin-bottom: 100px;
  border-radius: 30px;
  box-shadow: 0px 0px 55px rgb(0, 0, 0);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-= BLOCO DE BAIRROS =-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

#section_bairros{
  border: 5px solid rgb(104, 104, 104);
  width: 100vw;
  height: 30vh;
}

#conjunto_bairros {
  display: flex;
  justify-content: space-between;
}

.bloco_bairro {
  height: 30vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* para centralizar o texto */
  /* border: 1px solid #333; opcional, para visualização */
  box-sizing: border-box; /* para incluir padding e border no cálculo da largura */
  transition: scale 0.2s ease-in-out, filter 0.5s ease-in-out; /* combina as transições */
  background-size: cover;
  filter: grayscale(70%);
}

.bloco_bairro:hover{
  z-index: 1;
  scale: 1.1;
  cursor: pointer;
}

.bloco_bairro h1{
  font-size: 20px;
  margin-top: 60px;
  color: white;
  text-shadow: 1px 1px 0 #000;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=- OFERTAS -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

#section_ofertas{
  background: linear-gradient(to bottom, #aaaaaa, #ffffff); /* Define o degradê vertical */
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#bloco_titulo_ofertas{
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titulo_ofertas{
  margin-top: 50px;
  cursor: default;
  color: rgb(85, 85, 85);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-size: 50px;
  font-family: Dancing, sans-serif;
}

#ver_mais {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgb(255, 166, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#ver_mais:hover {
  background-color: rgb(255, 201, 101);
  transform: scale(1.05);
}

#conjunto_blocos_ofertas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bloco_oferta{
  cursor: pointer;
  border-radius: 20px;
  width: 25vw;
  margin: 50px;
  box-shadow: 0 0 10px 1px black;
  transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.bloco_oferta:hover{
  scale: 1.02;
  box-shadow: 0 0 25px 4px black;
}

.sub_bloco_foto_oferta{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.preco_bloco_oferta{
  background-color: rgb(255, 166, 0);
  padding: 7px;
  box-shadow: 0 0 10px 1px black;
  text-shadow: 2px 2px 2px rgb(255, 218, 115);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: -15px;
  right: 10px;
  font-size: 25px;
}

.sub_bloco_desc1_oferta{
  height: 15vh;
  background: linear-gradient(to top, #cacaca, #ffffff); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.codigo_bloco_oferta{
  margin-top: 20px;
  font-family: RedhatDisplayLightItalic, sans-serif;
  font-size: 14px;
}

.sub_bloco_desc1_endereco{
  display: flex;
  flex-direction: row;
}

.ic_desc1_oferta{
  width: 13px;
  height: 13px;
}

.endereco_bloco_oferta{
  font-family: RedhatDisplayLightItalic, sans-serif;
  margin-left: 5px;
}

.sub_bloco_desc2_oferta{
  height: 15vh;
  background: linear-gradient(to bottom, #cacaca, #ffffff); 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.sub_bloco_desc2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_desc2_oferta{
  width: 30px;
}

.sub_bloco_mais_detalhes{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  background-color: #000;
  background: linear-gradient(to top, #f1c055, #ff9633); 
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=- FOOTER -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

footer {
  background-color: #555555;
  color: #fff;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
}
footer .footer-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: RedhatDisplayMediumItalic, sans-serif;
}
footer .footer-content .social-media {
  margin: 10px 0;
}
footer .footer-content .social-media a {
  margin-top: 20px;
  font-family: RedhatDisplayMediumItalic, sans-serif;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}
footer .footer-content .social-media a:hover {
  text-decoration: underline;
}
footer .footer-links {
  margin: 10px 0;
}
footer .footer-links a {
  font-family: RedhatDisplayLightItalic, sans-serif;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}
footer .footer-links a:hover {
  text-decoration: underline;
}
footer .footer-bottom {
  margin-top: 10px;
}