@font-face {
    font-family: RedHatDisplayLightItalic;
    src: url('Fontes/red-hat-display-2/RedHatDisplayLightItalic.ttf') format('truetype');
}
  
@font-face {
    font-family: RedhatDisplayMediumItalic;
    src: url('Fontes/red-hat-display-2/RedHatDisplayMediumItalic.ttf') format('truetype');
}
  
@font-face {
    font-family: RedhatDisplayBoldItalic;
    src: url('Fontes/red-hat-display-2/RedHatDisplayBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: RedhatDisplayItalic;
    src: url('Fontes/red-hat-display-2/RedHatDisplayItalic.ttf') format('truetype');
}
  
@font-face {
    font-family: Ananda;
    src: url('Fontes/red-hat-display-2/Ananda Personal Use.ttf') format('truetype');
}
  
@font-face {
    font-family: Dancing;
    src: url('Fontes/red-hat-display-2/DancingScript-VariableFont_wght.ttf') format('truetype');
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #00111d;
}


label {
    font-family: RedhatDisplayMediumItalic, sans-serif;
    color:#E4E4E4;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #4092CB;
    background-color: #E4E4E4;
    color:#1C4867;
    border-radius: 10px;
    width: 100%;
    font-family: RedhatDisplayItalic, sans-serif;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ff0000;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=- BLOCO HEADER -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

header{
    background-color: #00111d;
    width: 100vw;
    height: 35vh;
    position: relative;
}

#bloco_background_header {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 35vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#bloco_background_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #47bbff9d, #00111d);
    pointer-events: none;
}

#titulo_lardocelar_header{
    font-family: Ananda, sans-serif;
    font-size: 50px;
    color: #DFE0E2;
    text-shadow: 6px 6px 2px rgb(0, 0, 0);
    top: 15vh;
    position: absolute;
    cursor:default;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=--=-=-=-=- MENU LATERAL -=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

#section_menu_lateral{
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #1C4867;
    border-right: 2px solid #4092CB;
    box-shadow: 10px 0px 15px rgb(0, 0, 0);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100vh;
    top: 0px;
    left: 0px;
    transition: left 0.5s ease-in-out;
    background: linear-gradient(to bottom, #00111d, #00111d, #4092CB);
}

#seta_menu_lateral{
    width: 40px;
    filter: drop-shadow(0px 0px 10px black);
    z-index: 2;
    position: absolute;
    right: -25px;
    top:50vh;
    scale: 0.6;
    transition: transform 0.5s ease, scale 0.5s ease;
}

#meu_perfil_menu_lateral{
    background-color: #00111d;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 20px;
}

#minha_foto_menu_lateral{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

#nome_usuario_menu_lateral{
    font-family: RedhatDisplayItalic, sans-serif;
    color: white;
}

#bloco_botoes_menu_lateral{
    width: 200px;
}

.bloco_botao_unico_menu_lateral{
    height: 50px;
    display: flex;
    align-items: center;
}

.botao_lateral{
    font-family: RedhatDisplayLightItalic, sans-serif;
    margin-left: 10px;
    color: #DFE0E2;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao_lateral:hover{
    color:#6fa2c7;
}

.botao_lateral a {
    text-decoration: none;
    color: #DFE0E2;
}

#botao_home::before {
    content: "\1F3E1"; /* Código Unicode para o ícone de usuário em Font Awesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Necessário para alguns ícones */
    margin-right: 8px;
    font-size: 15px;
    display: inline-block;
    color: #DFE0E2;
}

#botao_cadastrar_imovel::before {
    content: "\2795"; /* Código Unicode para o ícone de usuário em Font Awesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Necessário para alguns ícones */
    margin-right: 15px;
    font-size: 15px;
    display: inline-block;
    color: #DFE0E2;
}

#botao_pesquisar_imovel::before {
    content: "\1F50E"; /* Código Unicode para o ícone de usuário em Font Awesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Necessário para alguns ícones */
    margin-right: 8px;
    font-size: 15px;
    display: inline-block;
    color: #DFE0E2;
}

#botao_meus_dados::before {
    content: "\26ED"; /* Código Unicode para o ícone de usuário em Font Awesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Necessário para alguns ícones */
    margin-right: 8px;
    font-size: 15px;
    display: inline-block;
    color: #DFE0E2;
}

#botao_funcionarios::before {
    content: "\1F465"; /* Código Unicode para o ícone de usuário em Font Awesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Necessário para alguns ícones */
    margin-right: 8px;
    font-size: 15px;
    display: inline-block;
    color: #DFE0E2;
}

#botao_cadastrar_funcionario::before {
    content: "\1F472"; /* Código Unicode para o ícone de usuário em Font Awesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Necessário para alguns ícones */
    margin-right: 8px;
    font-size: 15px;
    display: inline-block;
    color: #DFE0E2;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=--=-=- FRASE MOTIVACIONAL -=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

#section_frase_do_dia{
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frase_do_dia{
    font-family: RedhatDisplayLightItalic, sans-serif;
    color: #DFE0E2;
    width: 400px;
    font-size: 20px;
    text-align: justify;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=--=-=- CADASTRAR IMOVEL -=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

.titulo_sections{
    color:#DFE0E2;
    text-transform: uppercase;
    font-family: RedhatDisplayMediumItalic, sans-serif;
    font-size: 30px;
}

.subtitulos_cadastrar{
    color:#DFE0E2;
    text-transform: uppercase;
    font-family: RedhatDisplayLightItalic, sans-serif;
    font-size: 20px;
    margin-top: 50px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=--=-=- CADASTRAR IMOVEL -=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

#section_cadastrar_imovel{
    margin: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#form_cadastrar_imovel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position:relative;
}

.form-group.full-width {
    grid-column: span 3;
}

#subtitulo_informacoes_gerais_cadastrar{ grid-column: 1/ 1; grid-row: 1/1; grid-column: span 3;}
#titulo_cadastrar { grid-column: 1 / 2; grid-row: 2/2; grid-column: span 2;}
#tipo_cadastrar { grid-column: 3 / 3; grid-row: 2/2;}
#preco_cadastar { grid-column: 1 / 1; grid-row: 3/3;}
#area_cadastrar { grid-column: 2 / 2; grid-row: 3/3;}
#vagas_cadastrar { grid-column: 3 / 3; grid-row: 3/3;}
#quartos_cadastrar { grid-column: 1 / 1; grid-row: 4/4;}
#banheiros_cadastrar { grid-column: 2 / 2; grid-row: 4/4;}

#descricao_cadastrar { grid-column: 1 / 3; grid-row: 5/5; grid-column: span 3}

#subtitulo_endereco_cadastrar{ grid-column: 1/ 1; grid-row: 6/6; grid-column: span 3}
#cep_cadastrar { grid-column: 1 / 1; grid-row: 7/7;}
#endereco_cadastrar { grid-column: 1 / 1; grid-row: 8/8;}
#cidade_cadastrar { grid-column: 2 / 2; grid-row: 8/8;}
#estado_cadastrar { grid-column: 3 / 3; grid-row: 8/8;}

#titulo_dados_proprietario_cadastrar{ grid-column: 1 / 1; grid-row: 9/9; grid-column: span 3}
#proprietario_nome_cadastrar{ grid-column: 1 / 1; grid-row: 10/10;}
#proprietario_sobrenome_cadastrar{ grid-column: 2 / 2; grid-row: 10/10;}
#proprietario_CPF_cadastrar{ grid-column: 3 / 3; grid-row: 10/10;}
#proprietario_telefone_cadastrar{ grid-column: 1 / 1;  grid-row: 11/11;}
#proprietario_email_cadastrar{ grid-column: 2 / 2; grid-row: 11/11;}

#titulo_fotos_cadastrar{ grid-column: 1 / 1; grid-row: 12/12; grid-column: span 3}

#foto1_cadastrar { grid-column: 1 / 1; grid-row: 13/13;}
#foto2_cadastrar{ grid-column: 2 / 2; grid-row: 13/13;}
#foto3_cadastrar{ grid-column: 3 / 4; grid-row: 13/13;}

#full-width { grid-column: 1 / 1; grid-row: 14/14;}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=--=-=-=- BUSCAR IMOVEL =-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

#section_pesquisar_imovel{
    margin: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#bloco_pesquisar_buscar_imovel{
    margin:50px;
}

#campo_pesquisar_imovel{
    width: 50vw;
}

#bloco_area_resultado_pesquisar_movel{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90vw;
}

.bloco_unico_resultado_pesquisar_imovel {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 40px;
    background-color: #4092CB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: scale 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;
    border: 4px solid #4092CB;
}

.bloco_unico_resultado_pesquisar_imovel:hover{
    scale: 1.05;
    border: 4px solid #4CAF50;
}

.foto_bloco_resultado_pesquisar{
    width: 240px;
}

.codigo_bloco_resultado_pesquisar{
    font-family: RedhatDisplayItalic, sans-serif;
    margin: 10px;
}

.bloco_info_resultado_pesquisar{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to top, #4092CB , #cecece);

}

.info_resultado_pesquisar{
    font-family: RedhatDisplayLightItalic, sans-serif;
    margin-top: 4px;
    color: #000000;
    margin-bottom: 4px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-= CADASTRAR FUNCIONARIO =-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

#section_cadastrar_funcionario{
    margin: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#form_cadastrar_funcionario {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
}

#adicionar_foto_funcionario{
    width: 250px;
    margin: 10px;
    cursor:pointer
}

#outro_genero_cadastrar_funcionario{
    display: none;
}


#adicionar_foto_funcionario{ grid-column: 1/ 1; grid-row: 1/2; grid-row: span 3;}
#nome_cadastrar_funcionario { grid-column: 2 / 2; grid-row: 1/1;}
#sobrenome_cadastrar_funcionario { grid-column: 3 / 3; grid-row: 1/1;}

#CPF_cadastrar_funcionario { grid-column: 2 / 2; grid-row: 2/2;}
#nascimento_cadastrar_funcionario { grid-column: 3 / 3; grid-row: 2/2;}

#genero_cadastrar_funcionario { grid-column: 2 / 2; grid-row: 3/3;}
#outro_genero_cadastrar_funcionario { grid-column: 3 / 3; grid-row: 3/3;}

#cep_cadastrar_funcionario { grid-column: 1 / 1; grid-row: 4/4;}
#endereco_cadastrar_funcionario { grid-column: 2 / 2; grid-row: 4/4;}
#cidade_cadastrar_funcionario { grid-column: 3 / 3; grid-row: 4/4;}

#email_cadastrar_funcionario { grid-column: 1 / 3; grid-row: 5/5;}
#celular_cadastrar_funcionario { grid-column: 3 / 3; grid-row: 5/5;}

#subtitulo_login_cadastrar_funcionario { grid-column: 1 / 3; grid-row: 6/6;}

#usuario_cadastrar_funcionario { grid-column: 1 / 1; grid-row: 7/7;}
#senha_cadastrar_funcionario { grid-column: 2 / 2; grid-row: 7/7;}
#confirmar_senha_cadastrar_funcionario { grid-column: 3 / 3; grid-row: 7/7;}
