@font-face {
  font-family: RedHatDisplayLightItalic;
  src: url('RedHatDisplayLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: RedhatDisplayMediumItalic;
  src: url('RedHatDisplayMediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: RedhatDisplayBoldItalic;
  src: url('RedHatDisplayBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Ananda;
  src: url('Ananda Personal Use.ttf') format('truetype');
}



body{
  width: 100vw;
}

header {
  background-color:  white;
  width: 480px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0px;
  top: 0px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.39); /* Adicionando sombra */
  transition: 0.8s ease-in-out;
}

#contatos {
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.contatos_cabecalho {
  display: flex;
  align-items: center;
  margin-left: 40px;
  justify-content: center;
}

.icone_cabecalho{
  width: 30px;
}

.info_telefone_cabecalho{
  margin-left: 10px;
}


#icone_whatsapp_cabecalho {
  width: 20px;
}

.telefones_cabecalho {
  font-family: RedHatDisplayLightItalic, sans-serif;
  margin-bottom: 4px;
  text-align: center;
}

.info_telefones_cabecalho{
  font-size: 12px;
  align-items: center;
  text-align: center;
}

#icone_menu {
  width: 40px;
  margin: 10px;
  cursor: pointer;
}

#section_banner_principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 15px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39);
}

#titulo_banner{
  color: rgb(73, 73, 73);
  font-family: Ananda, sans-serif;
  font-size: 5vw;
  font-weight: 800;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

#sub_banner{
  color: rgb(73, 73, 73);
  font-family: RedhatDisplayMediumItalic, sans-serif;
  font-size: 1.5vw;
  margin-bottom: 70px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#bloco_pesquisa{
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: rgb(241,241,241);
  width: 70vw;
  height: 100px;
  border-radius: 20px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.39); 
}

.combobox_banner {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  width: 15vw; 
}

#campo_pesquisa {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  width: 20vw; 
}

#botao_pesquisar {
  font-family: RedhatDisplayMediumItalic, sans-serif;
  padding: 10px 20px; 
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff; 
  color: #fff; 
  cursor: pointer; 
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out,
              box-shadow 0.3s ease-in-out;
}

#botao_pesquisar:hover{
  background-color: burlywood;
  color: #333;
  box-shadow: 0px 5px 5px rgb(0,123,255); 
}


#section_destaques{
  height: 100vh;
}

.bloco_cabecalho_destaque{
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.bloco_endereco_destaque{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.endereco_destaque{
  font-family: RedhatDisplayMediumItalic, sans-serif;
  color: #333;
  font-size: 16px;
}

.cidade_destaque{
  font-family: RedhatDisplayMediumItalic, sans-serif;
  color: #333;
  font-size: 14px;
}

.bloco_info_cabecalho{
  display: flex;
}

.bloco_info{
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.descricao_info_destaque{
  font-family: RedhatDisplayMediumItalic, sans-serif;
  color: #333;
  margin-left: 10px;
}

.icone_destaques{
  width: 40px;
  height: 40px;
}

.bloco_principal_destaque{
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
  background: linear-gradient(to top, #aaaaaa, #ffffff); /* Define o degradê vertical */
}

.bloco_esquerdo_principal_destaque{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.titulo_empreendimento_destaque{
  font-size: 50px;
  color: #333;
  font-family: Ananda, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulo_esquerdo_principal_destaque{
  color: #007bff;
  margin-left: 200px;
  font-family: RedhatDisplayBoldItalic, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  width: 250px;
  text-align: end;
}

.desc_esquerdo_principal_destaque{
  color: #333;
  font-family: RedhatDisplayLightItalic, sans-serif;
  font-size: 20px;
  width: 400px;
  text-align: start;
}

.bloco_direito_principal_destaque{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bloco_direito_principal_destaque img{
  width: 612px;
  height: 408px;
  border-radius: 30px;
  box-shadow: 0px 0px 55px rgb(0, 0, 0);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

footer{
  height: 100vh;
  background-color: #4ff;
}
