@font-face {
  font-family: RedHatDisplayLightItalic;
  src: url('RedHatDisplayLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: RedhatDisplayMediumItalic;
  src: url('RedHatDisplayMediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: RedhatDisplayBoldItalic;
  src: url('RedHatDisplayBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Ananda;
  src: url('Ananda Personal Use.ttf') format('truetype');
}



body{
  width: 100vw;
}

header {
  z-index: 1;
  background-color:  white;
  width: 480px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0px;
  top: 0px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.39); /* Adicionando sombra */
  transition: 0.8s ease-in-out;
}

#contatos {
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.contatos_cabecalho {
  display: flex;
  align-items: center;
  margin-left: 40px;
  justify-content: center;
}

.icone_cabecalho{
  width: 30px;
}

.info_telefone_cabecalho{
  margin-left: 10px;
}


#icone_whatsapp_cabecalho {
  width: 20px;
}

.telefones_cabecalho {
  font-family: RedHatDisplayLightItalic, sans-serif;
  margin-bottom: 4px;
  text-align: center;
}

.info_telefones_cabecalho{
  font-size: 12px;
  align-items: center;
  text-align: center;
}

#icone_menu {
  width: 40px;
  margin: 10px;
  cursor: pointer;
}

#section_banner_principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 15px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39);
}

#titulo_banner{
  color: rgb(73, 73, 73);
  font-family: Ananda, sans-serif;
  font-size: 5vw;
  font-weight: 800;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

#sub_banner{
  color: rgb(73, 73, 73);
  font-family: RedhatDisplayMediumItalic, sans-serif;
  font-size: 1.5vw;
  margin-bottom: 70px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#bloco_pesquisa{
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: rgb(241,241,241);
  width: 70vw;
  height: 100px;
  border-radius: 20px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.39); 
}

.combobox_banner {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  width: 15vw; 
}

#campo_pesquisa {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  width: 20vw; 
}

#botao_pesquisar {
  font-family: RedhatDisplayMediumItalic, sans-serif;
  padding: 10px 20px; 
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff; 
  color: #fff; 
  cursor: pointer; 
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out,
              box-shadow 0.3s ease-in-out;
}

#botao_pesquisar:hover{
  background-color: burlywood;
  color: #333;
  box-shadow: 0px 5px 5px rgb(0,123,255); 
}


#section_destaques{
  height: 100vh;
  background: linear-gradient(to top, #aaaaaa, #ffffff); /* Define o degradê vertical */
}

#slider li{
  transition: opacity 0.5s ease-in-out;
}

.bloco_cabecalho_destaque{
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.bloco_endereco_destaque{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.endereco_destaque{
  font-family: RedhatDisplayMediumItalic, sans-serif;
  color: #333;
  font-size: 16px;
}

.cidade_destaque{
  font-family: RedhatDisplayMediumItalic, sans-serif;
  color: #333;
  font-size: 14px;
}

.bloco_info_cabecalho{
  display: flex;
}

.bloco_info{
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.descricao_info_destaque{
  font-family: RedhatDisplayMediumItalic, sans-serif;
  color: #333;
  margin-left: 10px;
}

.icone_destaques{
  width: 40px;
  height: 40px;
}

.bloco_principal_destaque{
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
}

.bloco_esquerdo_principal_destaque{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.titulo_empreendimento_destaque{
  font-size: 50px;
  color: #333;
  font-family: Ananda, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulo_esquerdo_principal_destaque{
  color: #333333;
  margin-left: 200px;
  font-family: RedhatDisplayBoldItalic, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  width: 250px;
  text-align: end;
}

.desc_esquerdo_principal_destaque{
  color: #333;
  font-family: RedhatDisplayLightItalic, sans-serif;
  font-size: 20px;
  width: 400px;
  text-align: start;
}

.bloco_direito_principal_destaque{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bloco_direito_principal_destaque img{
  width: 612px;
  height: 408px;
  border-radius: 30px;
  box-shadow: 0px 0px 55px rgb(0, 0, 0);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-= PORQUE LAR DOCE LAR =-=-=-=-=-=-=-=-=-=-=-=-=. */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=. */

#section_porque_lardocelar{
  height: 100vh;
  background: linear-gradient(to bottom, #aaaaaa, #ffffff); /* Define o degradê vertical */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bloco_geral_porque{
  background-color: #fff;
  width: 80vw;
  height: 80vh;
  border-radius: 40px;
  box-shadow: 0px 0px 50px rgb(94, 94, 94);
}

#bloco_desc_porque{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

#titulo_porque{
  font-family: RedhatDisplayMediumItalic, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
}

#subtitulo_porque{
  font-family: RedhatDisplayLightItalic, sans-serif;
  width: 700px;
  text-align: center;
  font-size: 20px
}

#bloco_fotos_porque {
  position: relative;
}

#imagem_casanova1{
  position: absolute;
  width: 350px; /* Garante que a imagem cubra todo o container */
  height: auto; /* Mantém a proporção da imagem */
  top: 130px;
  left: 130px;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);
}


#imagem_casanova2 {
  position: absolute;
  width: 350px; /* Garante que a imagem cubra todo o container */
  height: auto; /* Mantém a proporção da imagem */
  top: 30px;
  left: 30px;
  border-radius: 30px;
  transition: opacity 2s ease-in-out;
  opacity: 0;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

#imagem_casanova2 {
  position: absolute;
  width: 350px; /* Garante que a imagem cubra todo o container */
  height: auto; /* Mantém a proporção da imagem */
  top: 0px;
  left: 80px;
  border-radius: 30px;
  transition: opacity 2s ease-in-out;
  opacity: 0;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

#imagem_casanova3 {
  position: absolute;
  width: 350px; /* Garante que a imagem cubra todo o container */
  height: auto; /* Mantém a proporção da imagem */
  top: 90px;
  left: 30px;
  border-radius: 30px;
  transition: opacity 2s ease-in-out;
  opacity: 0;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

#imagem_casanova4 {
  position: absolute;
  width: 350px; /* Garante que a imagem cubra todo o container */
  height: auto; /* Mantém a proporção da imagem */
  top: 210px;
  left: 90px;
  border-radius: 30px;
  transition: opacity 2s ease-in-out;
  opacity: 0;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

#imagem_casanova5 {
  position: absolute;
  width: 350px; /* Garante que a imagem cubra todo o container */
  height: auto; /* Mantém a proporção da imagem */
  top: 90px;
  left: 210px;
  border-radius: 30px;
  transition: opacity 2s ease-in-out;
  opacity: 0;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

#imagem_casanova6 {
  position: absolute;
  width: 350px; /* Garante que a imagem cubra todo o container */
  height: auto; /* Mantém a proporção da imagem */
  top: 140px;
  left: 180px;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

#bloco_fotos_e_itens{
  display: flex;
  justify-content: space-between;

}

#bloco_itens_porque{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  justify-content: space-around;
}

.item_titulo_porque{
  margin-bottom: 10px;
  font-family: RedhatDisplayMediumItalic, sans-serif;
}

.item_desc_porque{
  font-family: RedhatDisplayLightItalic, sans-serif;
  text-align: justify;
  width: 450px;
}

footer{
  height:200px;
  background-color: rgb(0, 139, 231);
}
